@import './utilites.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}


:root{
    --primary: #e65f78;
    --light: #f2f2f2;
    --gray:#f8f9fa;
    --text-color: #6c757d;
    --gray-dark: #343a40;
    --dark:#000;
    
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    width: 100%;
    line-height: 1.3;
    
}
.container{
    width: 1152px;
    margin: 0 auto;
}

section{
    padding: 8rem 0;
}

.text-center{
    text-align: center;
}
.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
}

header{
    background-color: var(--dark);
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url('../images/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    position: relative;
    height: 100vh;

}

img.branding {
    width: 112px;
    padding: 12px;
}

header .main-nav{
   float: right;
   margin-top: 1.7rem;
}
.main-nav li{
    display: inline-block;
    margin-left: 2.2rem;
}
.main-nav li:first-child{
    margin-left: 0;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: var(--light);
    text-decoration: none;
    font-size: 1rem;
    text-transform: capitalize;
    transition: 0.3s;

}
.main-nav li.active a{
    color: var(--primary);
}
.main-nav li a:hover{
    color: var(--primary);
}

/* hero section */
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--light);
}
.hero h1{
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: var(--light);
}
.hero p{
    margin-bottom: 1rem;
    color: var(--light);
}
.btn-secondary{
    background:transparent;
    border-color: var(--light);
    border-radius: 25px;
    color: var(--light);
    transition: 0.3s;
    
}
.btn-secondary:hover{
    background-color: var(--light);
    color: var(--dark);
}

/* scrool down button */
.scroll-down{
    position: absolute;
    bottom:9vh;
    width: 100%;
    color: var(--light);
    text-align: center;
    z-index: 8;
    font-size: 1rem;
}

.scroll-down i{
    position: relative;
    height: 44px;
    width: 30px;
    border: 2px solid var(--light);
    border-radius: 30px;
    display: inline-block;
    color: var(--light);
    font-size: 10px;
    line-height: 54px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    
}

.scroll-down i::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 11px;
    height: 10px;
    width: 3px;
    background-color: var(--light);
    border-radius: 5px;
    bottom: 0px;

}

@keyframes bounce {
    from{
        top: 40px;
    }
    to{
        top: 0;
    }
}

/* About design here */



.flex{
    display: flex;
}
.flex-1{
    flex: 1;
}
.about-sec .about-me-image{
    height: 400px;
}
.image-thumbnail{
    border: 2px solid #bbbbbb;
    padding: 0.2rem;
}

.about-sec .about-outer-wrap h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.about-sec .about-outer-wrap h3{
    font-size: 1.45rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.about-sec .about-outer-wrap h3 span{
    color: var(--primary);
}
.about-sec .about-outer-wrap p{
    margin-bottom: 1rem;
    color: var(--gray-dark);
}
.align-item{
    align-items: center;
}
.about-sec .social-icon a{
    color: var(--dark);
    text-decoration: none;
}
.about-sec .social-icon a i::before{
    height: 20px;
    width: 20px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    padding: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
    transition: all 0.3s ease;
}
.about-sec .social-icon a:hover i::before{
    border-color: var(--primary);
    color:var(--primary)
}
.service-sec{
    background-color: #f2f2f2;
}
.service-sec .service-info{
    text-align: center;
}
.service-sec .service-info h2{
    margin-bottom: 1rem;
}
.service-sec .service-info p{
    color: var(--text-color);    
    margin-bottom: 5rem;
    padding: 0 20rem;
}
.service-sec .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    text-align: center;
}
.service-sec .card-wrapper .card{
    background-color: #f7f7f7;
    border: 1px solid #cecece;
    padding: 30px 20px;
}
.service-sec .card-wrapper .card .icon{
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
}
.service-sec .card-wrapper .card h3{
    margin-bottom: 1rem;
}
.service-sec .card-wrapper .card .card-border{
    height: 2px;
    width: 50px;
    background-color: var(--primary);
    margin: 15px auto;
    transition: all 0.5s linear;
}
.service-sec .card-wrapper .card p{
    color: var(--text-color);
}
.service-sec .card-wrapper .card:hover .card-border{
    width: 100px;
}

/* freerlancer section */
.freelancer-section{
    text-align: center;
    /* background-color: var(--gray-dark); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%); */
}
.freelancer-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.btn-primary{
    border-color: var(--primary);
    background: var(--primary);
    color: var(--dark);
    border-radius: 5px;
    color: var(--light);
    padding: 12px 35px;
}
.btn-primary:hover{
    background: var(--primary);
    color: var(--light);
}


/* client section */

.client-section{
    text-align: center;
    background-color: #f2f2f2;
}
.client-section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.client-section p.sub-heading{
    padding: 0rem 20rem;
    margin-bottom: 4rem;
    color: var(--text-color);
}

.client-section .slide img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.client-section .slide p{
    margin-bottom: 2rem;
    color: var(--text-color);
}

.client-section .slide h4{
    color: var(--text-color);
    font-weight: 400;
}
.client-section .slide h4 span{
    color: var(--dark);
    font-weight: 600 !important;
}

/* our-work section */

.work-section h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.work-section p{
    margin-bottom: 4rem;
    padding: 0 20rem;
    color: var(--text-color);
}
.portfolio-tab ul{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.portfolio-tab ul li{
    margin-left: 2rem;
    list-style: none;
    padding: 0.2rem;
}
/* li.active {
    height: 25px;
    width: 40px;
    background: var(--primary);
    border-radius: 5px;
    color: #fff;
    padding: 0.2rem;
    display: block;
} */

.work-section .portfolio-image-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-row-gap: 2rem;
}

.work-section .portfolio-image-wrapper img{
    height: 100%;
    width: 100%;
}

/* blog section */
.blog-section{
    background-color: #f2f2f2;
}
.blog-section h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.blog-section  p{
    margin-bottom: 4rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 20rem;
}


.blog-section .card-content h2{
    text-align: left;
}

.blog-section .card-content > p{
    padding: 0;
    text-align: left;
    margin-bottom: 1rem;
}

.blog-section .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.blog-section .card-wrapper .img-wrapper img{
    width: 100%;
    border-radius: 10px;
}
.blog-section .card-wrapper .card-content h2{
    font-size: 1.2rem;
}
.blog-section .card-wrapper .card-content h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.blog-section .card-wrapper .card-content h3 span{
    color: var(--primary);
   
}
.blog-section .card-wrapper .card-content a{
    text-decoration: none;
    color: var(--gray-dark);
    font-weight: 700;
}

/* contact-section */
.contact-section h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}
.contact-section  p{
    margin-bottom: 4rem;
    color: var(--text-color);
    text-align: center;
    padding: 0 20rem;
}
.contact-section .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
}
.contact-section .card{
    margin-bottom: 3rem;
}
.contact-section .card .contact-icon i{
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.contact-section .card h3 {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    font-weight: 400;
}
.contact-section .card h6{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-weight: 400;
}
.contact-section .card h6 a{
    text-decoration: none;
    color: var(--text-color);
}

.contact-section form .input-wrap-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
.contact-section form .input-wrap-2{
    display: flex;
    flex-direction: column;
}
.contact-section form input{
    padding: .5rem;
    border: 1px solid #dad2d2;
    color: var(--text-color);
    outline: none;
}
.contact-section form .input-wrap-2 input{
    margin-bottom: 2rem;
}

.contact-section form .input-wrap-2 textarea{
    padding: 0.5rem;
    outline: none;
    border: 1px solid #dad2d2;
    margin-bottom: 1rem;
}

.contact-section .btn-wrapper{
    margin-bottom: 2rem;
    text-align: right;
}

/* footer */
footer{
    background-color: var(--gray-dark);
    padding: 3rem 0;
    text-align: center;
    position: relative;
}
footer .social-icon{
    margin-bottom: 1rem;
}
footer .social-icon a{
    text-decoration: none;
    margin-bottom: 2rem;
    color: var(--text-color);
}

footer .social-icon a:link i::before{
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--dark);
    padding: .5rem;
    font-size: 1rem;
    display: inline-block;
    transition: all .3s ease-in-out;
    
    
}
footer .social-icon a:hover i::before{
    color: var(--light);
    background-color: var(--primary);
    transform: rotate(360deg);
}

footer p{
    color: var(--text-color);
}

/* back to top */
.back-top{
    position: fixed;
    bottom: 15px;
    right: 20px;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    text-align: center;
    transition: all 0.5s;
}
.back-top i{
    color: var(--light);
    font-size: 30px;
   
}
